In [ ]:
# Dependencies
import pandas as pd
import numpy as np
import os

# Path of the CSV file
csvfile2 = "hawaii_stations.csv"

# Read CSV file into a pandas DataFrame
stations_df = pd.read_csv(csvfile2, dtype=object)

# Preview DataFrame
stations_df

In [ ]:
# Path of the CSV file
new_csv = "measurements_cleaned.csv"

# Read CSV file into a pandas DataFrame
measurements_df = pd.read_csv(new_csv, dtype=object)

# Preview DataFrame
measurements_df.head()

In [3]:
# Import SQL Alchemy
import sqlalchemy
from sqlalchemy import create_engine, MetaData

# Import and establish Base for which classes will be constructed
from sqlalchemy.ext.declarative import declarative_base

# Import modules to declare columns and column data types
from sqlalchemy import *

# To push the objects made and query the server we use a Session object
from sqlalchemy.orm import Session

In [4]:
Base = declarative_base()

# Create classes
# ----------------------------------
class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)
    
class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
# Create Database Connection
# ----------------------------------
# Establish Connection to database
engine = create_engine('sqlite:///hawaii.sqlite')

# Create both the Measurement and Station tables within the database
Base.metadata.create_all(engine)

# To push the objects made and query the server we use a Session object
session = Session(bind=engine)

In [5]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data = stations_df.to_dict(orient='records')

In [6]:
# Data is just a list of dictionaries that represent each row of data
print(data[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': '21.2716', 'longitude': '-157.8168', 'elevation': '3'}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': '21.4234', 'longitude': '-157.8015', 'elevation': '14.6'}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': '21.5213', 'longitude': '-157.8374', 'elevation': '7'}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': '21.3934', 'longitude': '-157.9751', 'elevation': '11.9'}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': '21.4992', 'longitude': '-158.0111', 'elevation': '306.6'}]

In [7]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [8]:
# Save the reference to the `stations` table as a variable called `table`
table = sqlalchemy.Table('stations', metadata, autoload=True)

In [9]:
# Create a connection to the engine called `conn`
conn = engine.connect()

# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn.execute(table.delete())

In [10]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(table.insert(), data)

In [11]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [12]:
# Use Orient='records' to create a list of data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
data2 = measurements_df.to_dict(orient='records2')

In [13]:
# Data is just a list of dictionaries that represent each row of data
print(data2[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': '0.08', 'tobs': '65'}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': '0', 'tobs': '63'}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': '0', 'tobs': '74'}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': '0', 'tobs': '76'}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': '0.06', 'tobs': '70'}]

In [14]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata2 = MetaData(bind=engine)
metadata2.reflect()

In [15]:
# Save the reference to the `stations` table as a variable called `table2`
table2 = sqlalchemy.Table('measurements', metadata2, autoload=True)

In [16]:
# Create a connection to the engine called `conn2`
conn2 = engine.connect()

# Use `table.delete()` to remove any pre-existing data.
# Note that this is a convenience function so that you can re-run the example code multiple times.
# You would not likely do this step in production.
conn2.execute(table2.delete())

In [17]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn2.execute(table2.insert(), data2)

In [18]:
# Test that the insert works by fetching the first 5 rows. 
conn2.execute("select * from measurements limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-07', 0.06, 70)]